       <div class="container">
            <div class="row center">
                <div class="col s12 m6" class="center"><span class="flow-text"></span>
                    <div class="row">
                        <div class="col s6 " class="center"><a  class="waves-effect waves-light btn-large">Dumplings</a></div>
                        <div class="input-field col s2">
                            <input quantityeggroll="quantityeggroll" id="eggroll" type="text" class="validate">
                            <label class="active" for="eggroll">1</label></div>
                        <div class="col s2 vertical-align: text-bottom;"><h4>$1.00</h4></div>

                    </div>
                    <div class="row">
                        <div class="col s6 " class="center"><a  class="waves-effect waves-light btn-large">Beef Fried Rice</a></div>
                        <div class="input-field col s2">
                            <input quantityeggroll="quantityeggroll" id="eggroll" type="text" class="validate">
                            <label class="active" for="eggroll">1</label></div>
                        <div class="col s2 vertical-align: text-bottom;"><h4>$6.50</h4></div>

                    </div>





                </div>
                <div class="col s12 m6" class="center"><span class="flow-text"></span>
                    <div class="row">
                        <div class="col 2s offset-s2">
                            <div class="card-panel teal">
                                <span class="white-text">Tax and Delivery Fee</span>
                            </div></div>
                            <div class="col 2s right"><h4>$1.20</h4></div>
                    </div>
                    <div class="row">
                        <div class="col 2s offset-s2">
                            <div class="card-panel teal">
                                <span class="white-text">Grand Total</span>
                            </div></div>
                            <div class="col 2s right"><h4>$9.20</h4></div>

                    </div>
                    <div class="row">
                        <div class="col 2s offset-s2">
                          <a href="/checkout"  class="red waves-effect waves-light btn-large">
                              <span class="white-text">Checkout</span></a>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col 2s offset-s2">
                          <a  class="red waves-effect waves-light btn-large">
                              <span class="white-text">Continue Shopping</span></a>
                            </div>
                    </div>
                </div>
                </div>
