<div class="container">
    <div class="row">
        <div class="input-field col s12">
            <input placeholder="name" id="first_name" type="text" class="validate">
            <label for="first_name">Name</label>
        </div>
        <div class="input-field col s12">
            <input placeholder="address" id="address" type="text" class="validate">
            <label for="address">Delivery Address</label>
        </div>
        <div class="input-field col s12">
            <input placeholder="card #" id="card" type="text" class="validate">
            <label for="card">Credit/Debit Card Number</label>
        </div>

        <form action="#">
            <p>
            <input name="group1" type="radio" id="test1" />
            <label for="test1">Card</label>
            </p>
            <p>
            <input name="group1" type="radio" id="test2" />
            <label for="test2">Paypal</label>
            </p>
        </form>
        <div class="col offset-s10 s2">
            <a href="/reviews" class="waves-effect waves-light btn">Place_Order</a>
        </div>
    </div>
</div>
