<!-- Default home page -->
<script src="/js/index.js" > </script>

       <!-- Restaurant list, to be filled with js -->
        <div class="container">
            <div id="rest_list" class="row">
                <!--
                    <div class="col s4">
                    <div class="card small"> </div>
                    </div>
                -->
            </div>
        </div>

