<script src = "/js/menu.js"></script>
<style>
.foodcarousel {
    overflow:hidden;
}
        .foodcarousel div img {
            height:300px;
        }
</style>
<div id="carousel" class="slider foodcarousel">
</div>

<div class="container">
    <div class="row center">
        <div id="appetizers" class="col s12 m6" class="center"><span class="flow-text">Appetizers</span>
        </div>

        <div id="entrees" class="col s12 m6" class="center"><span class="flow-text">Entrees</span>
        </div>

        <div id="drinks" class="col s12 m6" class="center"><span class="flow-text">Drinks</span>
        </div>
    </div>
</div>
