<script src="/js/reviews.js"> </script>
<div class="row">
    <div class="col s12">
        <p class="flow-text">Thank you for your order! It will arrive soon. Please leave a review.</p>
    </div>
    <div class="input-field col s12">
        <textarea id="review" class="materialize-textarea"></textarea>
        <label for="review">Review</label>
    </div>
    <div class="col offset-s10 s2">
        <a href="/" class="waves-effect waves-light btn">Leave Review</a>
    </div>
</div>
