<script src="/js/reviewlist.js"> </script>

<div class="container">
    <div class ="row center">
        <div id="image" class="col m7">
        </div>
        <div class="col m5 row">
            <div id="name" class="col s12"></div>
            <div id="starrow" class="row">
                <div class="col s1" />
                </div>
            </div>
        </div>
        <div class = "row center">
            <div class="col m5">
                <div id="text" class="card-panel bodygoeshere">
                </div>
            </div>
        </div> 
    </div>
</div>
